<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Helvetica" rel="stylesheet">
<style>

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

li {
  float: left;
}

li a {
  display: block;
  color:#e6b91e;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #000000;
}

.active {
  background-color: #353535;
}
</style>
</head>
<body style="background-color:#e6b91e">

<ul>
  <li><a href="http://127.0.0.1:5000/">Recommendation</a></li>
  <li><a href="http://127.0.0.1:5000/visualization">Exploratory Data Analysis</a></li>
  <li><a href="http://127.0.0.1:5000/dataset">Dataset</a></li>
  <li style="float:right"><a class="active" href="https://imdb.com">IMDb Website</a></li>
  <li><a href="http://127.0.0.1:5000/about">About<span class="sr-only">(current)</a></li>
</ul>

    <center><img src="https://ia.media-imdb.com/images/M/MV5BMTk3ODA4Mjc0NF5BMl5BcG5nXkFtZTgwNDc1MzQ2OTE@._V1_.png" width=200></center>
    <center>
    <h4>"Created by: Dimas Muhammad Adnan Imran"</h4>
    <h5>"email: dimas.adnan@gmail.com"</h5>
    <br>
    <h4><center><b>"Feature Description"</b></center></h4>
    <table class=".thead table-responsive" style="max-width: 313px;margin-left:auto;margin-right:auto" border="3" bordercolor="000000";>
      <thead>
        <tr style="text-align: center;">
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr style="text-align: center;">
          <td>Budget</td>
          <td>Budget of the Movie</td>
        </tr>
        <tr style="text-align: center;">
          <td>Budget</td>
          <td>Movie Production Company</td>
        </tr>
        <tr style="text-align: center;">
          <td>Country</td>
          <td>Movie Country of Origin</td>
        </tr>
        <tr style="text-align: center;">
          <td>Director</td>
          <td>Director of the Movie</td>
        </tr>
        <tr style="text-align: center;">
          <td>Genre</td>
          <td>Main Genre of the Movie</td>
        </tr>
        <tr style="text-align: center;">
          <td>Gross</td>
          <td>Revenue of the Movie</td>
        </tr>
        <tr style="text-align: center;">
          <td>Name</td>
          <td>Name of the Movie</td>
        </tr>
        <tr style="text-align: center;">
          <td>Rating</td>
          <td>Rating of the Movie (R, PG, etc.)</td>
        </tr>
        <tr style="text-align: center;">
          <td>Released</td>
          <td>Release Date (YYYY-MM-DD)</td>
        </tr>
        <tr style="text-align: center;">
          <td>Runtime</td>
          <td>Duration of the Movie</td>
        </tr>
        <tr style="text-align: center;">
          <td>Score</td>
          <td>IMDb User Rating</td>
        </tr>
        <tr style="text-align: center;">
          <td>Star</td>
          <td>Main Actor/Actress</td>
        </tr>
        <tr style="text-align: center;">
          <td>Votes</td>
          <td>Number of User Votes</td>
        </tr>
        <tr style="text-align: center;">
          <td>Writer</td>
          <td>Writer of the Movie</td>
        </tr>
        <tr style="text-align: center;">
          <td>Year</td>
          <td>Year of Release</td>
        </tr>
      </tbody>